body {
    margin: 0;
}

p {
    margin: 0;
}

h1{
    padding: 0;
}

.carousel_frame {
    background-color: aqua;
    height: 80vh;
    width: auto;
    padding: 3%;
    padding-bottom: 2%;
    padding-top: 5%;
}

.carousel_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.carousel_images {
    display: flex;
    background-color: blueviolet;
    text-align: center;
    position: relative;
    height: 98%;
    width: 400%;
    animation-name: carousel;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.img_container {
    background-color: magenta;
    background-size: cover;
    width: 25%;
}

@keyframes carousel {
    0% {left: 0%;}
    8.3% {left: -100%;}
    16.6% {left: -100%;}
    24.9% {left: -200%;}
    33.2% {left: -200%;}
    41.5% {left: -300%;}
    49.8% {left: -300%;}
    58.1% {left: -200%;}
    66.4% {left: -200%;}
    74.7% {left: -100%;}
    83% {left: -100%;}  
    91.3% {left: 0%}
}

#image_1 {
    background-image: url(https://64.media.tumblr.com/26796dd6e64fea34b799a65771a81fc3/tumblr_o5y5qj8Kvg1unkq7zo4_400.png);
    
}

#image_2 {
    background-image: url(https://i.pinimg.com/564x/fa/75/83/fa7583903f87bc6245874e57a1ffc896.jpg);
}

#image_3 {
    background-image: url(https://i.pinimg.com/736x/c7/38/d8/c738d8775ee694b437004b6383a483a8.jpg);
}

#image_4 {
    background-image: url(https://i.pinimg.com/736x/12/83/f6/1283f6460ac7b070931dd3ad45543212.jpg);
}

.date_and_location {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5%;
    padding-bottom: -5%;
}

.google_map {
    padding-bottom: 45%;
    position: relative;
    text-align: center;
}

.google_map iframe {
    position: absolute;
    top: 0;
    left: 10%;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 95%;
    border: none;
}








.container {
    display: flex;
    justify-content: space-evenly;
    backdrop-filter: blur(6px);
    padding: 1% 0;
    width: 90vw;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(54, 56, 120, 0.1);
    border-radius: calc((1vh-1vw)/2);
    position: fixed;
    left: 5vw;
    top: 5vh;
    border-radius: 1vw;
    z-index: 1000;
}

#bar {
    width: 100%;
}





#tickets {
    width: 100vw;
    height: 66.6666vw;
    background-color:black;

}
.hbutton {
    width: 30%;
    height: 30%;
    position: relative;
    left: 35%;
    top: 35%;
    box-shadow:
    inset 0 0 30px #6b6b6b,
    inset 20px 0 300px #6b6b6b,
    inset -20px 0 300px #6b6b6b,
    inset 20px 0 100px #6b6b6b,
    inset -20px 0 100px #6b6b6b,
    0 0 50px #6b6b6b,
    -10px 0 30px #6b6b6b,
    10px 0 30px #6b6b6b;
    border-radius: 5em;
    transition: box-shadow 2s;
}

.hbutton:hover .textpre {
    opacity: 0%;
    filter: opacity(0%);
}

.hbutton:not(:hover) .textpost {
    opacity: 0%;
    filter: opacity(0%);
}

.hbutton:hover {
  width: 30%;
  height: 30%;
  border-radius: 5em;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
position: relative;
left: 35%;
top: 35%;

}


.textpre {
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 3em;
    transition: opacity 2s;
    color: #1c1c1c;
}


.textpost {
    font-family: Arial, Helvetica, sans-serif;
    z-index: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 5em;
    transition: opacity 2s;
    text-align: center;
    color: azure;
    text-shadow: #0ff;

}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 600px) { /* for mobile devices */
    #image_1 {
        background-image: url(https://i.pinimg.com/1200x/10/9b/5e/109b5e84fd01c7dc621ce1011b2a96d9.jpg);
        
    }
    
    #image_2 {
        background-image: url(https://i.pinimg.com/1200x/ed/8a/52/ed8a525e21a68914a69ef63a548d07eb.jpg);
    }
    
    #image_3 {
        background-image: url(https://i.pinimg.com/originals/2d/d0/1e/2dd01e9499dc3a4d51cc42dc837ad038.jpg);
    }
    
    #image_4 {
        background-image: url(https://i.pinimg.com/564x/55/d5/38/55d538b54671c261f18cbb5a76c34d81.jpg);
    }
}
